<div class= "menu_index">
<div class="col-md-7">
        <div class="panel panel-info">
	        <div class="panel-heading">
		       Trainings
	        </div>
	        <div class="panel-body">
                <ul>
                    <% @program.training.each do |training|%>
                       <li>
                           <%= training.event %>
                           <%= training.date %>
                           <%= training.time %>
                           
                           <%= link_to '[Details]',"#",class: 'command' %>
                           
                           <%= link_to '[delete]',"#", method: :delete, class: 'command',data:{ confirm: 'Sure?'} %>
                       </li>
                    <%end%>
                </ul>
                
            </div>
        </div>
</div>
</div>