<div class="col-md-4">
            <section class= "user_info">
           <div class="panel panel-info">
	        <div class="panel-heading">
		       Client information
	        </div>
	        <div class="panel-body">
                <ul>
                    <li>name:<%= @client.name %></li>
                    <li>birth: <%= @client.birth %></li>
                    <li>address: <%= @client.address %></li>
                    <li>email: <%= @client.email %></li>
                    <li>comment: <%= @client.comment %></li>
                </ul>
	        </div>
           </div>
            
            </section>
        </div>