<div class="col-md-7">
        <div class="panel panel-info">
	        <div class="panel-heading">
		       Programs
		       <div class="NewProgram_btn">
		           <%= link_to "New Program", new_client_program_path(@client), class:"btn btn-primary" %>
		       </div>
	        </div>
	        <div class="panel-body">

                
                <ul>
                    <% @client.programs.each do |program|%>
                       <li>
                           <%= program.title %>
                           <%= link_to '[Details]',program_path,class:'commend' %>
                           
                       </li>
                       <ul class="list-group">
                            <% @program.training.each do |training| %>
                                <li class="list-group-item"><%= training.event %>
                                    <%= link_to '[Details]',"#",class: 'command' %>
                                </li>
                            <%end%>
                        </ul>
                    <%end%>
                </ul>
                
            </div>
        </div>
</div>
