<%= provide(:title,@client.name)%>

<%= render "static_pages/menubar" %>
<div class= "container">
    
    <div class= "row">
        <%= render "clients/client_information"%>
    　  <%= render "clients/programs_index"%>
    </div>
        
    <%= link_to "clients index" , clients_path %>
    
</div>