<%= form_for @post do |f| %>

<div class="Post">

<%= render 'posts/error_messages'%>
 <div class = "Post title">
   <%= f.label :Title%>
   <p><%= f.text_field :title, placeholder: 'enter title' %>
     
  </p>

 </div>
 
 <div class = "Post text">
   <%= f.label :Text %>
   <p>
   <%= f.text_area :body, placeholder: 'enter text' %>
    
   </p>
 </div>

<p><%= f.submit %>
</p>
<% end %>
</div>